body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  padding-top: 100px;
}

/* Apply styles to all elements */
* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --teal: #134e4a;
  --teal-bg: #f0fdfa;
  --emerald: #10b981;
  --emerald-bg: #ecfdf5;
  --pink: #ff6b81;
  --pink-bg: #fce7f3;
  --pink-hover: #c82870;
  --dark-text: #333;
  --hover-dark: #222;
  --linear-gradient-background: linear-gradient(
    to right,
    var(--teal),
    var(--emerald)
  );
}
