.message-container {
  display: flex;
  align-items: center;
  position: relative;
}

.add-item-icon-container {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.2s ease;
}

.add-item-icon {
  width: 24px;
  height: 24px;
}

.add-item-icon-container:hover {
  transform: scale(1.1);
  background-color: var(--teal);
}

.notification-count {
  position: absolute;
  top: -14px;
  right: -5px;
  background-color: var(--pink-hover);
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
